<?xml version="1.0" encoding="utf-8"?>
<odoo>
  <data>
    <!-- Load css File -->

    <template id="report_assets_common" inherit_id="web.report_assets_common">
        <xpath expr="." position="inside">
            <link href="https://fonts.googleapis.com/css2?Battambang&amp;family=Battambang&amp;family=Kantumruy+Pro&amp;family=Kdam+Thmor+Pro&amp;family=Moul&amp;display=swap" rel="stylesheet"/>
        </xpath>
    </template>
  </data>
</odoo>