<?xml version="1.0" encoding="utf-8"?>
<odoo>
  <data>
    <!-- Load css File -->
    <template id="font_asset" name="font assets" inherit_id="web.report_assets_common">
      <xpath expr="." position="inside">

        <link href="https://fonts.googleapis.com/css2?family=Moul&amp;display=swap" rel="stylesheet"/>
        
      </xpath>
    </template>
  </data>
</odoo>